@charset "UTF-8";

/**
 * @author Olivier Roy 2066237@csfoy.ca
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Formulaire
 * Mise en page
 ***
 ***
 ***
 *
 */


/* Normalize
   ========================================================================== */
@import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(_utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(_typo.css);

/* Grille
   ========================================================================== */
@import url(_grille.css);

/* Formulaire
   ========================================================================== */
@import url(_form.css);

/* Mise en page
   ========================================================================== */
